@charset "UTF-8";

:root {
  --box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  --box-border-radius: 10px;
  --colour-bg: hotpink;
  --colour-text: #0b1728;
  --colour-bg-code: #2d2d2d;
  --highlight-border-colour-on: rgba(255, 255, 0, 0.75);
  --highlight-border-colour-off: rgba(255, 255, 0, 0);
  --highlight-box-shadow-on: 0 0 16px rgba(255, 255, 0, 0.25);
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter.var.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
}
@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-italic.var.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
}
@font-face {
  font-family: 'Hack';
  src: url('../assets/fonts/Hack-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

html {
  background-color: var(--colour-bg);
}

body {
  color: var(--colour-text);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-variant: normal;
  font-weight: 500;
  margin: 0;
  overflow: hidden;
  z-index: 0;
}

pres-show {
  --slide-progress-colour: blueviolet;
  display: grid;
  height: 100%;
}
pres-show:not(:defined) {
  display: none;
}

pres-slide {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  opacity: 1;
  transform: translateX(100%);
}
pres-slide[show] {
  transform: translateX(0);
}
pres-slide[hide] {
  transform: translateX(-100%);
}

header {
  align-items: end;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.25);
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: 1fr 3fr;
  /* justify-content: space-between; */
  margin-bottom: var(--grid-gap);
  padding-bottom: calc(var(--grid-gap) / 2);
}

header > * {
  margin: 0;
  padding: 0;
  max-width: 75%;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: normal;
  margin: 0;
  padding: 0;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10vh;
  font-weight: 900;
  padding: 0 5vh;
  text-align: center;
  width: 100%;
}

h2 {
  font-size: 6vh;
  font-weight: 600;
  line-height: 1.2;
}

h3 {
  font-size: 4vh;
  line-height: 1.2;
}

:where(p, ul, ol) {
  font-size: 3vh;
  margin: 0 0 var(--grid-gap);
}

pres-slide > p {
  max-width: 70%;
}

img {
  border: 0;
}

svg {
  overflow: visible;
}

b,
strong {
  font-weight: bold;
}

li {
  list-style: none;
}

code {
  font-family: 'Hack', monospace;
  font-size: inherit;
}

pre {
  align-items: center;
  background-color: var(--colour-bg-code);
  border-radius: var(--box-border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  margin: 0;
}
pre code {
  background-color: transparent !important;
  font-size: 1.8vh;
  margin: 0 3vw 0 -3vw;
  min-width: 50%;
  width: fit-content;
}
pre code.compact {
  font-size: 1.5vh;
}
pre code span.highlight {
  border: 0.7px dotted var(--highlight-border-colour-on);
  border-radius: 2px;
  box-shadow: var(--highlight-box-shadow-on);
  display: inline-block;
  padding: 0.125em 0.2em 0.2em;
}
pre.inline {
  background-color: transparent;
  box-shadow: none;
  display: inline-block;
  margin: 0;
  vertical-align: top;
}
pre.inline code {
  display: inline-block;
  font-size: inherit;
  padding: 0;
  margin-left: 0;
}

.underline {
  text-decoration: underline;
}

.warning {
  background-color: lightgoldenrodyellow;
  border-radius: var(--box-border-radius);
  box-shadow: var(--box-shadow);
  font-style: italic;
  padding: 0.8em;
  position: relative;
}
.warning:before {
  content: '⚠️';
  color: gold;
  font-size: 4vh;
  font-style: normal;
  left: -2vh;
  position: absolute;
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  top: -3vh;
}

.grid-33 {
  align-items: stretch;
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(3, 1fr);
}

.grid-50 {
  align-items: stretch;
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(2, 1fr);
}

.grid-50-auto {
  align-items: stretch;
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(2, minmax(min-content, auto));
}

.grid-25-75 {
  align-items: stretch;
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: 1fr 3fr;
}

.grid-50 > p,
.grid-50-auto > p,
.grid-25-75 > p {
  align-self: center;
}

@media (orientation: portrait) {
  header {
    margin-bottom: 2vw;
    padding-bottom: 2vw;
  }
  h1 {
    font-size: 6vw;
  }
  h2 {
    font-size: 3.5vw;
  }
  h3 {
    font-size: 3vw;
  }
  p,
  ul,
  ol {
    font-size: 2.5vw;
  }
  pre {
    margin: 1vw 0;
  }
  pre code {
    font-size: 2vw;
  }
  pre code.compact {
    font-size: 1.6vw;
  }
  .side-by-side {
    display: block;
  }
  .side-by-side > * {
    margin-bottom: 2vw;
    width: 100%;
  }
  .warning:before {
    font-size: 2vw;
  }
}
