@charset "UTF-8";

:root {
  --box-shadow: 0.1em 0.2em 0.4em rgba(0, 0, 0, 0.4);
  --bod-border-radius: 4px;
  --colour-bg: #fefefe;
  --colour-text: #0b1728;
  --colour-bg-code: #2d2d2d;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/fonts/AvenirNext-Medium.woff2') format('woff2'),
    url('../assets/fonts/AvenirNext-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/fonts/AvenirNext-Heavy.woff2') format('woff2'),
    url('../assets/fonts/AvenirNext-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/fonts/AvenirNext-Regular.woff2') format('woff2'),
    url('../assets/fonts/AvenirNext-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/fonts/AvenirNext-Bold.woff2') format('woff2'),
    url('../assets/fonts/AvenirNext-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Hack';
  src: url('../assets/fonts/Hack-Regular.woff2') format('woff2'),
    url('../assets/fonts/Hack-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

html {
  background-color: var(--colour-bg);
}

body {
  color: var(--colour-text);
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
  font-variant: normal;
  font-weight: 500;
  margin: 0;
  overflow: hidden;
  z-index: 0;
}

pres-show {
  height: 100%;
}
pres-show:not(:defined) {
  display: none;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
header h2,
header h3 {
  flex-basis: 25%;
}
header p {
  flex-basis: 75%;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: normal;
  margin: 0;
  padding: 0;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vw;
  font-weight: 900;
  padding: 0 5vw;
  text-align: center;
  width: 100%;
}

h2 {
  font-size: 3.5vw;
  font-weight: 600;
  line-height: 1.2;
}

h3 {
  line-height: 1.2;
  font-size: 3vw;
}

p,
ul,
ol {
  font-size: 2.5vw;
}

img {
  border: 0;
}

svg {
  overflow: visible;
}

b,
strong {
  font-weight: bold;
}

li {
  list-style: none;
}

code {
  font-family: 'Hack', monospace;
  font-size: 90%;
}

pre {
  background-color: var(--colour-bg-code);
  border-radius: var(--bod-border-radius);
  box-shadow: var(--box-shadow);
  width: auto;
}
pre code {
  font-size: 1.4vw;
  margin: 0 0 0 -3em;
  background-color: transparent !important;
  width: auto;
}
pre code.compact {
  font-size: 1.2vw;
}
pre code span.highlight {
  border: 2px dashed rgba(255, 255, 0, 0.8);
  border-radius: 2px;
  display: inline-block;
}
pre.inline {
  background-color: transparent;
  box-shadow: none;
  display: inline-block;
  margin: 0;
  vertical-align: top;
}
pre.inline code {
  display: inline-block;
  font-size: inherit;
  padding: 0;
  margin-left: 0;
}

.underline {
  text-decoration: underline;
}

.warning {
  background-color: lightgoldenrodyellow;
  border-radius: var(--bod-border-radius);
  box-shadow: var(--box-shadow);
  font-style: italic;
  padding: 1em;
  position: relative;
}
.warning:before {
  content: '⚠️';
  animation: 1s ease 0s infinite alternate pulse;
  font-size: 2em;
  font-style: normal;
  left: -0.5em;
  position: absolute;
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
  top: -0.7em;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}
