/* fun colors
  lightsalmon
  lightcoral
  coral
  tomato
  lemonchiffon
  lightgoldenrodyellow
  papayawhip
  peachpuff
  chartreuse
  springgreen
  aquamarine
  powderblue
  orchid
  hotpink
  honeydew
  mintcream
  lavenderblush
  mistyrose
  blanchedalmond
  bisque
  chocolate
  gold
 */

:root {
  --colour-html-templates: gold;
  --colour-custom-elements: aqua;
  --colour-shadow-dom: chartreuse;
  --colour-presentable: hotpink;
  --transition-slide: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

#title {
  background-color: hotpink;
}

#definition {
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2vw 5vw;
}
#definition h2 span {
  font-weight: 200;
}
#definition p {
  width: 75%;
}
#definition ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}
#definition li {
  box-shadow: var(--box-shadow);
  font-weight: 700;
  margin: 2vw 0;
  opacity: 0;
  padding: 0.8em;
  transition: var(--transition-slide);
  transform: translateY(100%);
}
#definition[step-1] li:nth-child(1) {
  background-color: var(--colour-html-templates);
  opacity: 1;
  transform: translateY(0);
}
#definition[step-2] li:nth-child(2) {
  background-color: var(--colour-custom-elements);
  opacity: 1;
  transform: translateY(0);
}
#definition[step-3] li:nth-child(3) {
  background-color: var(--colour-shadow-dom);
  opacity: 1;
  transform: translateY(0);
}

#exposed {
  align-items: center;
  background-color: crimson;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#exposed .warning {
  opacity: 0;
  transform: translateX(200%);
  transition: var(--transition-slide);
  width: 60%;
}
#exposed[show] .warning {
  opacity: 1;
  transform: translateX(0);
}
#exposed[hide] .warning {
  opacity: 1;
  transform: translateX(-200%);
}

#html-templates {
  background-color: var(--colour-html-templates);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#html-templates ul {
  display: flex;
}
#html-templates li {
  box-shadow: var(--box-shadow);
  font-weight: 700;
  margin: 2vw;
  opacity: 0;
  padding: 0.8em;
  transition: var(--transition-slide);
  transform: translateY(100%);
  width: 50%;
}
#html-templates li code {
  display: block;
  margin-bottom: 0.5em;
}
#html-templates[step-1] li:nth-child(1) {
  background-color: papayawhip;
  opacity: 1;
  transform: translateY(0);
}
#html-templates[step-2] li:nth-child(2) {
  background-color: peachpuff;
  opacity: 1;
  transform: translateY(0);
}

#ht-template {
  background-color: papayawhip;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#ht-template h3 {
  margin-bottom: 1em;
}
#ht-template pre {
  opacity: 0;
  transition: var(--transition-slide);
  transform: translateY(100%);
}
#ht-template[step-1] pre:nth-of-type(1) {
  opacity: 1;
  transform: translateY(0);
}
#ht-template[step-2] pre:nth-of-type(2) {
  opacity: 1;
  transform: translateY(0);
}
#ht-template[step-3] pre:nth-of-type(3) {
  opacity: 1;
  transform: translateY(0);
}

#ht-slot {
  background-color: peachpuff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#ht-slot h3 {
  margin-bottom: 1em;
}

#custom-elements,
#ce-step1,
#ce-step2,
#ce-step3,
#ce-lifecycle,
#ce-upgrade,
#ce-ready,
#ce-state,
#ce-reactivity,
#ce-base,
#ce-built-ins {
  background-color: var(--colour-custom-elements);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#custom-elements > p {
  color: lightseagreen;
  font-size: 3vw;
  text-align: center;
}

#ce-step2 .warnings {
  display: flex;
}
#ce-step2 .warnings p {
  margin: 1em;
  opacity: 0;
  transition: var(--transition-slide);
  transform: translateY(100%);
}
#ce-step2[step-1] .warnings p:nth-child(1) {
  opacity: 1;
  transform: translateY(0);
}
#ce-step2[step-2] .warnings p:nth-child(2) {
  opacity: 1;
  transform: translateY(0);
}

#ce-step3 pre {
  opacity: 0;
  transition: var(--transition-slide);
  transform: translateY(100%);
}
#ce-step3[step-1] pre:nth-of-type(1) {
  opacity: 1;
  transform: translateY(0);
}
#ce-step3[step-2] pre:nth-of-type(2) {
  opacity: 1;
  transform: translateY(0);
}
#ce-step3[step-3] pre:nth-of-type(3) {
  opacity: 1;
  transform: translateY(0);
}

#ce-lifecycle {
  background-color: var(--colour-custom-elements);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#ce-lifecycle .highlight {
  border-color: rgba(255, 255, 0, 0);
}
#ce-lifecycle[step-1] .highlight.one {
  border-color: rgba(255, 255, 0, 0.8);
}
#ce-lifecycle[step-1] .highlight.two,
#ce-lifecycle[step-1] .highlight.three {
  border-color: rgba(255, 255, 0, 0);
}
#ce-lifecycle[step-2] .highlight.two {
  border-color: rgba(255, 255, 0, 0.8);
}
#ce-lifecycle[step-2] .highlight.one,
#ce-lifecycle[step-2] .highlight.three {
  border-color: rgba(255, 255, 0, 0);
}
#ce-lifecycle[step-3] .highlight.three {
  border-color: rgba(255, 255, 0, 0.8);
}
#ce-lifecycle[step-3] .highlight.one,
#ce-lifecycle[step-3] .highlight.two {
  border-color: rgba(255, 255, 0, 0);
}

#ce-upgrade pre {
  opacity: 0;
  transition: var(--transition-slide);
  transform: translateY(100%);
}
#ce-upgrade[step-1] pre {
  opacity: 1;
  transform: translateY(0);
}

#ce-ready table,
#ce-ready pre {
  opacity: 0;
  transition: var(--transition-slide);
  transform: translateY(100%);
}
#ce-ready table {
  background-color: azure;
  border-spacing: 0.5em;
  border-radius: var(--bod-border-radius);
  box-shadow: var(--box-shadow);
}
#ce-ready table tbody {
  background-color: paleturquoise;
}
#ce-ready table tr:nth-of-type(1) {
  text-align: left;
}
#ce-ready table tr {
}
#ce-ready table td {
  padding: 0.4em 1em;
}
#ce-ready[step-1] table {
  opacity: 1;
  transform: translateY(0);
}
#ce-ready[step-2] pre {
  opacity: 1;
  transform: translateY(0);
}

#ce-reactivity .highlight {
  border-color: rgba(255, 255, 0, 0);
}
#ce-reactivity[step-1] .highlight.one {
  border-color: rgba(255, 255, 0, 0.8);
}
#ce-reactivity[step-1] .highlight.two,
#ce-reactivity[step-1] .highlight.three,
#ce-reactivity[step-1] .highlight.four,
#ce-reactivity[step-1] .highlight.five,
#ce-reactivity[step-1] .highlight.six {
  border-color: rgba(255, 255, 0, 0);
}
#ce-reactivity[step-2] .highlight.two {
  border-color: rgba(255, 255, 0, 0.8);
}
#ce-reactivity[step-2] .highlight.one,
#ce-reactivity[step-2] .highlight.three,
#ce-reactivity[step-2] .highlight.four,
#ce-reactivity[step-2] .highlight.five,
#ce-reactivity[step-2] .highlight.six {
  border-color: rgba(255, 255, 0, 0);
}
#ce-reactivity[step-3] .highlight.three {
  border-color: rgba(255, 255, 0, 0.8);
}
#ce-reactivity[step-3] .highlight.one,
#ce-reactivity[step-3] .highlight.two,
#ce-reactivity[step-3] .highlight.four,
#ce-reactivity[step-3] .highlight.five,
#ce-reactivity[step-3] .highlight.six {
  border-color: rgba(255, 255, 0, 0);
}
#ce-reactivity[step-4] .highlight.four {
  border-color: rgba(255, 255, 0, 0.8);
}
#ce-reactivity[step-4] .highlight.one,
#ce-reactivity[step-4] .highlight.two,
#ce-reactivity[step-4] .highlight.three,
#ce-reactivity[step-4] .highlight.five,
#ce-reactivity[step-4] .highlight.six {
  border-color: rgba(255, 255, 0, 0);
}
#ce-reactivity[step-5] .highlight.five {
  border-color: rgba(255, 255, 0, 0.8);
}
#ce-reactivity[step-5] .highlight.one,
#ce-reactivity[step-5] .highlight.two,
#ce-reactivity[step-5] .highlight.three,
#ce-reactivity[step-5] .highlight.four,
#ce-reactivity[step-5] .highlight.six {
  border-color: rgba(255, 255, 0, 0);
}
#ce-reactivity[step-6] .highlight.six {
  border-color: rgba(255, 255, 0, 0.8);
}
#ce-reactivity[step-6] .highlight.one,
#ce-reactivity[step-6] .highlight.two,
#ce-reactivity[step-6] .highlight.three,
#ce-reactivity[step-6] .highlight.four,
#ce-reactivity[step-6] .highlight.five {
  border-color: rgba(255, 255, 0, 0);
}

#ce-base pre {
  opacity: 0;
  transition: var(--transition-slide);
  transform: translateY(100%);
}
#ce-base[step-1] pre:nth-of-type(1) {
  opacity: 1;
  transform: translateY(0);
}
#ce-base[step-2] pre:nth-of-type(2) {
  opacity: 1;
  transform: translateY(0);
}

#ce-built-ins .nope {
  font-size: 15vw;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
#ce-built-ins[step-1] .nope {
  visibility: visible;
}

#shadow-dom,
#sd-init,
#sd-styling,
#sd-slots,
#sd-slots-styling,
#sd-slots-api {
  background-color: var(--colour-shadow-dom);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#shadow-dom > p {
  color: seagreen;
  font-size: 3vw;
  text-align: center;
}

#sd-init .highlight {
  border-color: rgba(255, 255, 0, 0);
}
#sd-init[step-1] .highlight {
  border-color: rgba(255, 255, 0, 0.8);
}

#sd-styling pre {
  opacity: 0;
  transition: var(--transition-slide);
  transform: translateY(100%);
}
#sd-styling .highlight {
  border-color: rgba(255, 255, 0, 0);
}
#sd-styling[step-1] pre:nth-of-type(1) {
  opacity: 1;
  transform: translateY(0);
}
#sd-styling[step-2] .highlight.one {
  border-color: rgba(255, 255, 0, 0.8);
}
#sd-styling[step-2] .highlight.two,
#sd-styling[step-2] .highlight.three,
#sd-styling[step-2] .highlight.four,
#sd-styling[step-2] .highlight.five {
  border-color: rgba(255, 255, 0, 0);
}
#sd-styling[step-3] .highlight.two {
  border-color: rgba(255, 255, 0, 0.8);
}
#sd-styling[step-3] .highlight.one,
#sd-styling[step-3] .highlight.three,
#sd-styling[step-3] .highlight.four,
#sd-styling[step-3] .highlight.five {
  border-color: rgba(255, 255, 0, 0);
}
#sd-styling[step-4] pre:nth-of-type(2) {
  opacity: 1;
  transform: translateY(0);
}
#sd-styling[step-5] .highlight.three {
  border-color: rgba(255, 255, 0, 0.8);
}
#sd-styling[step-5] .highlight.one,
#sd-styling[step-5] .highlight.two,
#sd-styling[step-5] .highlight.four,
#sd-styling[step-5] .highlight.five {
  border-color: rgba(255, 255, 0, 0);
}
#sd-styling[step-6] .highlight.four {
  border-color: rgba(255, 255, 0, 0.8);
}
#sd-styling[step-6] .highlight.one,
#sd-styling[step-6] .highlight.two,
#sd-styling[step-6] .highlight.three,
#sd-styling[step-6] .highlight.five {
  border-color: rgba(255, 255, 0, 0);
}
#sd-styling[step-7] .highlight.five {
  border-color: rgba(255, 255, 0, 0.8);
}
#sd-styling[step-7] .highlight.one,
#sd-styling[step-7] .highlight.two,
#sd-styling[step-7] .highlight.three,
#sd-styling[step-7] .highlight.four {
  border-color: rgba(255, 255, 0, 0);
}

#sd-slots pre {
  opacity: 0;
  transition: var(--transition-slide);
  transform: translateY(100%);
}
#sd-slots .highlight {
  border-color: rgba(255, 255, 0, 0);
}
#sd-slots .side-by-side {
  display: flex;
}
#sd-slots .side-by-side pre:nth-of-type(1) {
  flex-grow: 1;
  margin-right: 1em;
}
#sd-slots .side-by-side pre:nth-of-type(2) {
  flex-grow: 1;
  margin-left: 1em;
}
#sd-slots[step-1] > pre:nth-of-type(1) {
  opacity: 1;
  transform: translateY(0);
}
#sd-slots[step-2] .highlight.one {
  border-color: rgba(255, 255, 0, 0.8);
}
#sd-slots[step-2] .highlight.two {
  border-color: rgba(255, 255, 0, 0);
}
#sd-slots[step-3] .highlight.two {
  border-color: rgba(255, 255, 0, 0.8);
}
#sd-slots[step-3] .highlight.one {
  border-color: rgba(255, 255, 0, 0);
}
#sd-slots[step-4] .side-by-side pre:nth-of-type(1) {
  opacity: 1;
  transform: translateY(0);
}
#sd-slots[step-4] .highlight.one,
#sd-slots[step-4] .highlight.two {
  border-color: rgba(255, 255, 0, 0);
}
#sd-slots[step-5] .side-by-side pre:nth-of-type(2) {
  opacity: 1;
  transform: translateY(0);
}

#sd-slots-styling pre {
  opacity: 0;
  transition: var(--transition-slide);
  transform: translateY(100%);
}
#sd-slots-styling[step-1] pre:nth-of-type(1) {
  opacity: 1;
  transform: translateY(0);
}
#sd-slots-styling[step-2] pre:nth-of-type(2) {
  opacity: 1;
  transform: translateY(0);
}

#presentable,
#pres-template,
#pres-mixin {
  background-color: var(--colour-presentable);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#pres-template > p {
  margin-top: 0;
}
